body{
    font-family: "OpenSans Regular", sans-serif;
	background-color: rgb(218, 234, 242);
	width: 900px;
	margin: 0 auto; 
	display: flex; 
	flex-direction: column; 
}

header {
	text-align: center;
	padding: 40px 20px;
	margin: 20px auto;
	background-color: rgb(163, 199, 240);
	width: 900px;
}

.navig{
	margin: 0 30px;
	text-decoration: none; 
    font-size: 15pt;
    color: rgb(13, 34, 189);
    transition: color 1s;
}
.navig:hover{
	color: rgb(245, 17, 70);
}

.foto_div{
	text-align: center;
	padding: 10px;
	border-top: 1px solid rgb(245, 137, 15);
}
.foto_img{
	border: 1px solid #0cf095;
}
.two_title{
	font-family: serif;
	color: rgb(46, 12, 240);
	border-left: 5px solid rgb(13, 189, 19);
	padding-left: 10px;
	margin-top: 20px;

}
h1{
	font-family: serif;
	color: rgb(46, 12, 240);
	text-align: center;
}

.foot{
    font-size: 10pt;
	font-style: italic;
	text-align: center;
	border-top: 1px solid rgb(245, 137, 15);
}
.icon{
	margin-right: 10px;
}
.contacti{
	display: flex;
	align-items: center;
}
p{
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}